<html>
	<head>
		<title>Create Post</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Porkers Picks</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a th:href="@{/posts}">All Posts</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class = "row">
			<div th:with="actionUrl='', pageHeader=''" class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<div th:switch="${post.version}">
					<p th:case="'0'">
						<span th:with="actionUrl='/posts', pageHeader='Create Form'"/>
					</p>
					<p th:case="*">
						<span th:with="actionUrl='/posts/{id} (id=${post.id})', pageHeader='Update Form'"/>
					</p>
				</div>
				<h1 class="text-center"><span th:text="${pageHeader}" /></h1>
				<div class="card-body">
					<form th:action="@{/${actionUrl}}" th:object="${post}" method="POST">
						<div class="form-group">
							<label>Title</label>
							<input type="text" name="title" th:field="*{title}" class="form-control" placeholder="Enter title for the Post" />
						</div>
						<div class="form-group">
							<label>Content</label>
							<input type="text" name="content" th:field="*{content}" class="form-control" placeholder="Enter detail of the Post" />
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
